{
  "id": "pairing",
  "shell" : "zsh",
  "members": [
    "joe",
    "tim"
  ],
  "ruby_version" : "1.9.2-p290",
  "dotfiles" : {
    "repo" : "git://repo/path/for/dotfiles.git"
    "install_loc" : ".dotfiles",
    "init" : "init.zsh"
  }
}
